<form (submit)="onSave()" *ngIf="settings">
    <h1>Settings</h1>
    
    <div class="content">

        <div class="background-image">
            <mat-form-field>
                <mat-label>Background Image URL</mat-label>
                <input #input matInput type="text" name="backgroundImageUrl" [(ngModel)]="imageUrl" (click)="input.select()"/>
                <button type="button" matSuffix mat-icon-button (click)="fileInput.click(); $event.stopPropagation()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
    
            <div class="image-preview" (click)="fileInput.click()" style="background-image: url({{selectedImage}})"></div>

            <input #fileInput (change)="previewImage($event)" type="file" accept="image/*" style="visibility: hidden" />
        </div>

        <ng-container *ngFor="let pluginSettings of settings.pluginSettings | keyvalue">
            <div *ngIf="hasPluginSettings(pluginSettings.value)">
                <div>{{pluginSettings.key}}</div>

                <mat-form-field *ngFor="let pluginSetting of pluginSettings.value | keyvalue:originalOrder">
                    <mat-label>{{pluginSetting.key}}</mat-label>
                    <input #input matInput type="text" [name]="pluginSetting.key" [(ngModel)]="pluginSetting.value" (change)="updatePluginSetting(pluginSettings.key, pluginSetting.key, $event)"/>
                </mat-form-field>
            </div>
        </ng-container>

        <ng-container *ngIf="qrUrl | async as qr">
            <qrcode [qrdata]="qr" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </ng-container>

    </div>

    <div>
        <button type="button" mat-button (click)="cancel()">Cancel</button>
        <button type="submit" mat-flat-button color="primary">Save</button>
    </div>

</form>
