:host {
    display: grid;
    grid-template-rows: 50% 50%;
    width: 390px;
    min-width: 390px;
    height: 750px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
}

.tile-container {
    position: relative;
    justify-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tile-container .previous,
.tile-container .next {
    opacity: 0;
    transition: opacity 300ms;
    position: absolute;
    top: 40px;
    bottom: 40px;
    display: flex;
    color: white;
}

.tile-container .previous.show,
.tile-container .next.show {
    opacity: 1;
}

.tile-container .previous {
    left: calc(5px + env(safe-area-inset-left));
}

.tile-container .next {
    right: calc(5px + env(safe-area-inset-right));
}

.tile-container.root .previous,
.tile-container.root .next {
    align-items: flex-end;
}

.tile-container.children .previous,
.tile-container.children .next {
    align-items: flex-start;
}

.tile-container.root {
    align-items: flex-end;
    padding: calc(40px + env(safe-area-inset-top)) calc(20px + env(safe-area-inset-right)) 5px calc(20px + env(safe-area-inset-left));
}

.tile-container.children {
    align-items: flex-start;
    padding: 5px calc(20px + env(safe-area-inset-right)) calc(20px + env(safe-area-inset-bottom)) calc(20px + env(safe-area-inset-left));
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-height: 100%;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.tile-container.children .tiles {
    background-color: rgba(20, 20, 20, 40%);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 1s;
    border-radius: 10px;
}

.children.has-children .tiles {
    opacity: 1;
}
